.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
span,
input {
  font-family: 'SF Pro';
  font-weight: 300;
  color: white;
}

body {
  margin: 0;
  background-image: url('background.jpg');

  animation: slidein 0.5s;
}

#play-button {
  position: fixed;

  right: 1%;
  top: 2%;
}

/* 3월 2일 완료 */

main {
  max-width: 1200px;
  margin: auto;
}
/* div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#clock {
  font-size: 108px;
  font-weight: 500;
  text-align: center;

  margin: 0;
  margin-top: 10%;
}

#weekday {
  font-size: 24px;
  text-align: center;

  margin-top: 0;
}

form {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* 제출 버튼도 input이기 때문에 button으로 바꾸던지, 다른 태그로 한 후에 설정해주어도 된다.
나는 귀찮고 깔끔하게 하기 위해 제출 버튼을 삭제했다. */

input {
  height: 70px;
  width: 500px;
  background-color: transparent;

  text-align: center;

  border-color: aliceblue;
  border-top: none;
  border-left: none;
  border-right: none;

  outline: none;

  font-size: 32px;
  text-align: center;
  color: lightgray;

  margin-top: 4%;
}

#greeting {
  font-size: 64px;
  font-weight: 400;
  text-align: center;

  margin-top: 4%;
  animation: slidein 0.5s;
}

/* li들이 들어가는 박스인 ul을 먼저 정해준다 */
/* ul의 크기를 지정해서 안에서 스크롤 할 수 있게 해주고 싶다. HTML을 다음과 같이 변경하자

<div class="scroll">
  <ul id="todo-list"></ul>
</div>

*/
.scroll {
  width: 550px;
  height: 300px;
  overflow-y: scroll;
  background-color: transparent;

  display: block;
  margin: auto;
}
.scroll::-webkit-scrollbar {
  display: none;
}

#todo-list {
  max-width: 500px;

  margin: auto;
  margin-top: 3%;
}

/* 할일 만드는 form, input은 위에서 정해주었고, 할일을 제출했을때 생기는 li들을 꾸며주자 */
li {
  list-style: none;

  animation: slidein 0.5s;
}
span {
  font-size: 20px;
}
/* 그리고 할일 삭제 버튼의 배경을 없애버리자 */

button {
  background-color: transparent;
  border: none;

  font-size: 18px;
}
/* 나는 삭제 버튼을 할일 앞에 두고 싶다. html 수정 */

#quote {
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 3%;
  text-align: center;
  animation: slidein 0.5s;
}

#content {
  font-size: 24px;

  margin: 0;
}

#author {
  font-size: 20px;

  margin: 0;
  margin-top: 2%;
}

/* Input을 조금 이쁘게 만들기  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: lightgray;
  -webkit-text-size-adjust: auto;
}

input::placeholder {
  color: lightgray;
}

/* 간단한 애니메이션 주기 */
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* hidden 상태에서 보이게 되는 것도 애니메이션을 주기 위해서 greeting에도 hidden 클래스를 부여해주자 */
/* 그리고 greeting.js에서도, 로그인 시 greeting에서 hidden을 제거해 보이도록 바꿔주자 */
